*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.website-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.wema-header{
    /* border: 1px solid; */
    height: 65px;
    width: 100%;
}

.navbar{
    border: 1px solid purple;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10px 0px ;
    display: flex;
    justify-content: space-between;
}

.logo{
    border: 1px solid;
    /* width: 20%; */
}

.wema-logo-img{
    height: 30px;
}

.nav-links{
    border: 1px solid blue;
    /* width: 50%; */
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-links>a{
    color: rgb(81, 81, 81);
    text-decoration: none;

}

.nav-links>a:hover{
    color: #981D87;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.home-link{
    color: #981D87 !important;
    text-decoration: underline !important;
    text-underline-offset: 6px !important;
    text-decoration-thickness: 2px !important;
}

.nav-btn-container{
    border: 1px solid green;
    display: flex;
    justify-content: end;
    /* width: 30%; */

}

.nav-btn{
    /* border: 1px solid; */
    /* width: 70%; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: white;
    background-color: #981D87;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
}

.nav-btn-container2{
    opacity: 0 !important;
}

@media(max-width:900px){
    .navbar{
        width: 95%;
        /* border: 1px solid; */
    }

    .wema-logo-img{
        /* border: 1px solid; */
        height: 25px;
    }

    .nav-lists{
        display: none;
    }

   .nav-btn-container{
    display: none;
   }

    .nav-btn-container2{
        opacity: 1 !important ;
    }   
}

@media(max-width:500px){
    .nav-btn-container2{
        width: 50% !important;
        border: 1px solid red;
        margin-right: 25px !important;
    }
}
