.containerr{
    /* min-width: 20%; */
    /* max-width: 100%; */
    /* border: 10px solid purple; */
    min-height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-topbar-container{
    /* border: 3px solid green; */
    width: 100%;
    height: 60px;
    /* box-shadow: 1px 1px .2px 1px; */
}

.nav-topbar{
    /* border: 3px solid red; */
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.logo{
    /* border: 1px solid; */
    /* width: 25%; */
}

.wema-logo-img{
    height: 30px;
}

.nav-links{
    /* border: 1px solid fuchsia; */
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav-links a{
    color: #5a5b5c;
    text-decoration: none;
    font-size: 14px;
}

.home-link{
    color: #981D87 !important;
    text-decoration: underline !important;
    text-underline-offset: 6px !important;
    text-decoration-thickness: 2px !important;
}

.nav-links>a:hover{
    color: #981D87;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.nav-btn-container{
    /* border: 1px solid blue; */
    /* width: 25%; */
    display: flex;
    justify-content: end;
}

.nav-btn{
    border: 1px solid;
    /* width: 70%; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: white;
    background-color: #981D87;
    border-radius: 20px;
}

.nav-btn-container2{
    display: none;
}

@media(max-width:900px){
    .nav-topbar{
        width: 90%;
    }

    .wema-logo-img{
        height: 25px;
    }
    .nav-links{
        display: none;
    }

    .nav-btn-container{
        display: none;
    }

    .nav-btn-container2{
       display: block;
    }
}

.nav-topbar-container2{
    height: 60px;
    /* border: 1px solid pink; */
    display: flex;
    align-items: center;
}

.nav2-links{
    /* border: 1px solid blue; */
    width: 45%;
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav2-links a{
    color: #5a5b5c;
    text-decoration: none;
    font-size: 15px;
}

.nav2-links>a:hover{
    color: #981D87;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.nav2-btn{
    margin-left: 350px;
}



.dropdown1{
    clip-path: polygon(23% 0, 28% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%, 18% 8%);
    /* border: 1px solid; */
    background-color: rgb(239, 237, 237);
    line-break: none;
    position: absolute;
    top: 15px;
    left: -30px;
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    padding: 20px 0;
    cursor: pointer;
    display:none;
}

.dropdown2{
    clip-path: polygon(23% 0, 26% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 19% 5%);
    /* border: 1px solid; */
    background-color: rgb(239, 237, 237);
    line-break: none;
    position: absolute;
    top: 20px;
    left: 90px;
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    padding: 20px 0;
    cursor: pointer;
    /* display:none; */
}



.dropdowns li{
   padding: 20px 15px;
}

.dropdowns li:hover{
   background-color: #F8F9FA;
   
}

.career-link:hover .dropdowns{
 display:block
}



@media(max-width:900px){
    .nav-topbar-container2{
        display: none;
    }
}

            /* ads*/
.carousel-indicators [data-bs-target]{
    border-radius: 50%;
    width: 7px !important;
    height: 7px !important;
    background-color: royalblue !important;
    border: 1px solid grey !important;
   
}

 .carousel-indicators [data-bs-slide]{
    background-color: royalblue !important;
  
}

@media(max-width:900px){
    .ad-o{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;   
    }
    .ad-o>img{
        height: 400px;
        
    }
}

@media(max-width:500px){
    .ad-o >img{
        height: 200px !important;
    }
}

.ad-o>img{
    height: 500px;
}

.ad-0{
    background-image: url(https://wemabank.com/assets/web-bg-NeQw25Yh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80dvh;
    
}

@media(max-width:900px){
    .ad-a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;   
    }
    .ad-a>img{
        height: 400px;
        
    }
}

@media(max-width:500px){
    .ad-a>img{
        height: 300px !important;
    }
}

.ad-a>img{
    height: 500px;
}

.ad-1{
    background-image: url(https://wemabank.com/assets/jingle-bg-Db3fxZJc.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80dvh;
    
}

@media(max-width:900px){
    .ad-b{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column-reverse;    */
    }
    .ad-b>img{
        height: 400px;
        
    }
}

@media(max-width:500px){
    .ad-b>img{
        height: 300px !important;
    }
}

.ad-b>img{
    height: 500px;
}

.ad-2{
    background-color: white;
    min-height: 75dvh;
}

@media(max-width:900px){
    .ad-c{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column-reverse;    */
    }
    .ad-c>img{
        height: 100px;
        
    }
}

@media(max-width:500px){
    .ad-c>img{
        height: 200px !important;
    }

    .phone-remove{
        display: none;
    }
}

.ad-c>img{
    height: 500px;
}

.ad-3{
    background-image: url(https://wemabank.com/assets/hero-background-NkSVHum_.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80dvh;
}

.ad-4{
    background-image: url(https://wemabank.com/assets/bg-wk-lUXns.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80dvh;
}
.ad-5{
   background-color: white;
    min-height: 80dvh;
}

.ad-6{
    background-image: linear-gradient(to bottom right, #b73fb3, #320f31);
    background-repeat: no-repeat;
    background-size: cover;
   min-height: 80dvh;
}

.card1{
    background-color: transparent !important;
    border: none !important;
    width: 36% !important;
    /* color: white; */
    display: flex;
    flex-direction: column;
}

.card1>h1{
    /* border: 1px solid; */
    /* width: 90%; */
    font-size: 56px;
    color: white;
    font-weight: 700;
}

.card1>p{
    font-size: 14px;
    color: rgb(196, 191, 191);
    font-weight: 500;
}

.ad-button1{
    border: 2px solid;
    width: fit-content;
    padding: 20px 20px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    color: #981D87;
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.ad-button1:hover{
    transform: scale(110%);
    background-color: #981D87;
    color: white;
    border: none;
}

.ad-7{
    background-color: white;
    min-height: 75dvh;
}

.card2{
    background-color: transparent !important;
    border: none !important;
    width: 40% !important;
    /* color: black; */
    display: flex;
    flex-direction: column;
}

.card2>h1{
    /* border: 1px solid; */
    /* width: 90%; */
    font-size: 53px;
    color: black;
    font-weight: 700;
}

.card2>p{
    font-size: 14px;
    color: rgb(84, 81, 81);
    font-weight: 500;
}

.ad-button2{
    border: 2px solid;
    width: fit-content;
    padding: 18px 20px;
    border-radius: 50px;
    background-color: #981D87;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.ad-button2:hover{
    transform: scale(110%);
    background-color: white;
    color: #981D87;
    border: 1px solid #981D87;

}

.ad-8{
    background-image: linear-gradient(to right bottom, #B13490, #ed375b), linear-gradient(to bottom, rgba(255, 255, 255, 0.779));
    
    min-height: 80dvh;
}

.card3{
    background-color: transparent !important;
    border: none !important;
    width: 40% !important;
    /* color: black; */
    display: flex;
    flex-direction: column;
}

.card3>h1{
    /* border: 1px solid; */
    /* width: 90%; */
    font-size: 53px;
    color: white;
    font-weight: 700;
}

.card3>p{
    font-size: 14px;
    color: rgb(196, 191, 191);
    font-weight: 500;
}

.ad-button3{
    border: 2px solid;
    width: fit-content;
    padding: 20px 20px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    color: #B53489;
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.ad-button3:hover{
    transform: scale(110%);
    background-color: #981D87;
    color: white;
    border: 1px solid #981D87;

}

.ad-9{
    background-image: linear-gradient(to right bottom, #34C9AF, #814590), linear-gradient(to bottom, rgba(255, 255, 255, 0.779));
    
    min-height: 80dvh;
}

.card4{
    background-color: transparent !important;
    border: none !important;
    width: 40% !important;
    /* color: black; */
    display: flex;
    flex-direction: column;
}

.card4>h1{
    /* border: 1px solid; */
    /* width: 90%; */
    font-size: 53px;
    color: white;
    font-weight: 700;
}

.card4>p{
    font-size: 14px;
    color: rgb(196, 191, 191);
    font-weight: 500;
}

.ad-button4{
    /* border: 2px solid; */
    width: fit-content;
    padding: 20px 20px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    color: #814590;
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.ad-button4:hover{
    transform: scale(110%);
    background-color: #981D87;
    color: white;
    border: none;
}

.ad-10{
    background-image:url(https://wemabank.com/assets/background-V42PbY_R.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80dvh;
}

.card5{
    background-color: transparent !important;
    border: none !important;
    width: 40% !important;
    /* color: black; */
    display: flex;
    flex-direction: column;
}

.card5>h1{
    /* border: 1px solid; */
    /* width: 90%; */
    font-size: 53px;
    color: white;
    font-weight: 700;
}

.card5>p{
    font-size: 14px;
    color: rgb(196, 191, 191);
    font-weight: 500;
}

.ad-button5{
    border: 2px solid;
    width: fit-content;
    padding: 20px 20px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    color: #B53489;
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.ad-button5:hover{
    transform: scale(110%);
    background-color: #981D87;
    color: white;
    border: none;
}

.ad-11{
    background-color: silver;
    
    min-height: 80dvh;
}

.card6{
    background-color: transparent !important;
    border: none !important;
    width: 40% !important;
    /* color: black; */
    display: flex;
    flex-direction: column;
}

.card6>h1{
    /* border: 1px solid; */
    /* width: 90%; */
    font-size: 53px;
    color: black;
    font-weight: 700;
}

.card6>p{
    font-size: 14px;
    color: rgb(80, 79, 79);
    font-weight: 500;
}

.ad-button6{
    border: 2px solid;
    width: fit-content;
    padding: 18px 20px;
    border-radius: 50px;
    background-color: #981D87;
    text-decoration: none;
    color: rgb(215, 212, 212);
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.ad-button6:hover{
    transform: scale(110%);
    background-color: white;
    color: #981D87;
    border: none;
}

                /* ad-responsiveness */
@media(max-width:900px){
   
  
}


.news-animation{
    /* border: 1px solid red; */
    height: 45px;
    display: flex;
   position: relative;
   overflow: hidden;
    background-color: #981D87;
}

.news-body{
    position: absolute;
    z-index: 2;
    background-color: #EC49DE;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    font-weight: 700;
}

@media(max-width:900px){
    .news-body{
        width: 10%;
    }
}

@media(max-width:500px){
    .news-body{
        width: 15%;
    }
}

.news-text{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.news-text>pre{
     font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    top: 50%;
    color: white;
    white-space: nowrap;
    animation: news-animation 40s 1s linear infinite;
     
}

@keyframes news-animation{
    from{transform: translate(100vw, -50%);}
    to{transform: translate(-100%, -50%);}
}

.card-section{
   background-color: #F6F6F6 ;
   /* width: 100%; */
   height: 30dvh;
}

.cards{
   display: flex;
   /* border: 1px solid; */
   width: 80%;
   margin: auto;
   justify-content: space-between;

}

.card-container{
    margin: 50px auto;
    width: 15%;
    height: 110px;
    background-color: white;
    border-radius: 1px;
    /* box-shadow: 0px 0px 0px 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
     /* transition: background-color 0.3s ease-in-out 0.1s; */
     /* transition-property: transform, box shadown;
     transition-duration: .5s;
     transition-timing-function: linear; */
    
}

.card-container:hover{
   
    transform: translate(0px,-15px)  rotateX(10deg);
    
}

.card-section-resp{
    display: none;
}

@media(max-width:900px){
    .card-section{
        display: none;
        border: 10px solid;
    }

    .card-section-resp{
        opacity: 1;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px 0px;
        margin: auto;
        width: 80%;
        border-bottom: 1px solid grey;
        
    }

    .chevron-content{
        display: none;
        background-color: #FBFBFB;
        padding: 20px;
        margin-right: auto;
    }

    .bi-chevron:hover .chevron-content{
        display: block;
    }

    .top-flex{
        padding-top: 50px;
    }
}

/* @media(max-width:600px){
    .card-section{
        display: none;
    }
} */

.top-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: auto;
 }

 .top-flex>div{
    flex-shrink: 0;
    width: 50%;
 }

 .top-flex>img{
    width: 50%;
 }

  @media(max-width:1000px){
    .top-flex>div{
        width: 50%;
        font-size: large;
    }

    
    
 }

 @media(max-width:600px){
    .top-flex{
        width: 95%;
        font-size: larger;
    }

    .top-flex>div{
        width: 100%;
    }

    .top-flex>div>h6{
        font-size: 30px;
    }
    .top-flex>div>h2{
        font-size: 35px;
    }
    .top-flex>div>p{
        font-size: 18px;
    }

    .top-flex>img{
        display: none;
    }
    
 }

.flex-text{
        /* border: 1px solid; */
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-content: center;
 }

.flex-text>h6{
    color: #981D87;
    font-weight: bold;

}

.flex-text>h2{
    font-weight: bold;
}

.flex-text>p{
    color: rgb(118, 117, 117);
    font-size: 14px;
}

.large-card-sect{
    /* border: 1px solid; */
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.large-card{
    /* border: 1px solid; */
    /* width: 31%; */
    height: 45dvh;
    background-color: #FFF4FF;
    padding: 40px 20px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-shrink: 0; */
    transition-property: all;
    transition-duration: 1s;
    
}

.large-card:hover{
    transform: translateY( -20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.large-card-img{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}

.large-card-texts>h5{
    font-weight: bold;
    
}

.large-card-texts>p{
    color: rgba(97, 97, 97, 0.907);
    font-size: 14px;
    font-weight: 400;
}

.large-card-texts>a{
    color: black;
    text-decoration: none;
}

.tailor-dots{
    position: relative;
    z-index: 1;
    
}

.td-1{
    position: absolute;
    /* top: 10px; */
    left: -4%;
}

.td-2{
    position: absolute;
    top:100px;
    left: 75%;
}

.tailor-container{
    width: 80%;
    margin:70px auto;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    z-index: 2;
}

.tailor-flex-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
}

 .tailor-img>img{
        width: 450px;
    }

.SME-logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SME-logo>p{
    color: #981D87;
    font-weight: 600;
}

.SME-texts{
    display: flex;
    flex-direction: column;
}

.SME-texts>h4{
    font-weight: 600;
}

.SME-texts>p{
    color: grey;
    font-size: 14px;
}

.SME-texts>a{
    /* margin-top: 20px; */
     border:none;
    width: fit-content;
    padding: 18px 45px;
    border-radius: 50px;
    background-color: #981D87;
    text-decoration: none;
    color: rgb(215, 212, 212);
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.SME-texts>a:hover{
    transform: scale(105%);
    background-color: white;
    color: #981D87;
    border: 1px solid #981D87;
}

@media(max-width:900px){
    .td-1{
        display: none;
    }

    .tailor-container{
        flex-wrap: nowrap;
        gap:20px;
    }

     .tailor-img>img{
        width: 300px;

    }
}

@media(max-width:500px){
    .tailor-dots{
        display: none;
    }

    .tailor-flex-texts{
        width: 100%;
    }

    .tailor-container{
        flex-direction: column-reverse;
        gap:20px;
    }

     .tailor-img>img{
        width: 350px;
    }
}


.wide-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
}

@media(max-width:900px){
    .wide-cards{
        display: flex;
    }
}

@media(max-width:500px){
    .wide-cards{
        flex-wrap: wrap;
    }
}

.card{
    border-radius: 2px !important;
}
.card:hover{
   
    transform: translate(0px,-15px)  rotateX(10deg);
    
    }


.card>img{
    padding: 10px 0px 0px 10px;
}

.card-body>h5{
    font-weight: 600;
}
.card-body>p{
    color: grey;
    font-size: 14px;
}

.gif-container{
    width: 80%;
    margin:70px auto;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    z-index: 2;
}

.gif-flex-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
}

 

.custom-logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-logo>p{
    color: #981D87;
    font-weight: 600;
}

.custom-texts{
    display: flex;
    flex-direction: column;
}

.custom-texts>h4{
    font-weight: 600;
    font-size: 30px;
}

.custom-texts>p{
    color: grey;
    font-size: 14px;
}

.custom-texts>a{
    /* margin-top: 20px; */
     border:none;
    width: fit-content;
    padding: 18px 45px;
    border-radius: 50px;
    background-color: #981D87;
    text-decoration: none;
    color: rgb(215, 212, 212);
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.custom-texts>a:hover{
    transform: scale(105%);
    background-color: white;
    color: #981D87;
    border: 1px solid #981D87;
}

@media(max-width:900px){
    

    .gif-container{
        flex-wrap: nowrap;
        gap:20px;
    }

     .gif-img>img{
        width: 300px;

    }
}

@media(max-width:500px){
   

    .gif-flex-texts{
        width: 100%;
    }

    .gif-container{
        flex-direction: column-reverse;
        gap:20px;
    }

     .gif-img>img{
        width: 350px;
    }
}

.trader-container{
    width: 80%;
    margin:70px auto;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    z-index: 2;
}

.trader-flex-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
}

 .trader-img>img{
        width: 450px;
    }

.ALAT-logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ALAT-logo>p{
    color: #981D87;
    font-weight: 600;
}

.ALAT-texts{
    display: flex;
    flex-direction: column;
}

.ALAT-texts>h4{
    font-weight: 600;
    font-size: 30px;
}

.ALAT-texts>p{
    color: grey;
    font-size: 14px;
}

.ALAT-texts>a{
    /* margin-top: 20px; */
     border:none;
    width: fit-content;
    padding: 18px 45px;
    border-radius: 50px;
    background-color: #981D87;
    text-decoration: none;
    color: rgb(215, 212, 212);
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.ALAT-texts>a:hover{
    transform: scale(105%);
    background-color: white;
    color: #981D87;
    border: 1px solid #981D87;
}

@media(max-width:900px){
    

    .tarder-container{
        flex-wrap: nowrap;
        gap:20px;
    }

     .trader-img>img{
        width: 300px;

    }
}

@media(max-width:500px){
   

    .trader-flex-texts{
        width: 100%;
    }

    .trader-container{
        flex-direction: column-reverse;
        gap:20px;
    }

     .trader-img>img{
        width: 350px;
    }
}

.investor-relations{
    border:1px solid #981D87;
    /* height: 50dvh; */
    background-image: url(https://wemabank.com/assets/background-V42PbY_R.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
}

.investor-content{
    
    width: 80%;
    /* border: 2px solid white; */
    margin: auto;
    display: flex;
    justify-content: space-between;

    /* align-items: center; */
}

.investor-texts{
    /* border: 1px solid white; */
    width: 50%;
}

.investor-img>img{
        width: 600px;
}

@media(max-width:900px){
    

    .investor-content{
        flex-wrap: nowrap;
        gap:20px;
    }

     .investor-img>img{
        width: 350px;
        
    }

   .ratings{
    display: flex !important;
    flex-wrap: wrap;
    column-gap: 100px;
    width: 100%;
    
   }
}

@media(max-width:500px){
   

    .investor-texts{
        width: 100%;
        
        
    }

    .investor-content{
        width: 95%;
        flex-wrap: wrap;
        gap:20px;
    }

    .ratings{
    display: flex !important;
    flex-wrap: wrap;
    column-gap: 100px;
    width: 100%;
    
   }

   .investor-img>img{
        width: 400px;
        
    }

    
.investor-texts>h6{
    color: silver;
    font-weight: 600;
    font-size: 18px;
}

.investor-texts>h2{
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.investor-texts>p{
    font-size: 13px;
     color: rgb(165, 164, 164);
}

     
}

.investor-texts>h6{
    color: silver;
    font-weight: 600;
}

.investor-texts>h2{
    color: white;
    font-weight: 500;
    font-size: 36px;
}

.investor-texts>p{
     color: silver;
}

.ratings{
    /* border: 1px solid yellow; */
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.ratings-container>h4{
    color: #EC49DE;
    font-weight: 600;

}

.ratings-container>p{
    color: silver;
}

.investor-cards{
    width: 80%;
    margin: 60px auto 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

        /* all card class */
.card:hover h5{
    color: #981D87;
}

.plant-container{
    background-color: #FBFBFB;
    width: 80%;
    margin:70px auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    z-index: 2;
}

.plant-flex-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
}

 

.sustainability-logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sustainability-logo>p{
    color: #981D87;
    font-weight: 600;
}

.sustainability-texts{
    display: flex;
    flex-direction: column;
}

.sustainability-texts>h4{
    font-weight: 600;
    font-size: 30px;
}

.sustainability-texts>p{
    color: grey;
    font-size: 14px;
}

.sustainability-texts>a{
    /* margin-top: 20px; */
     border:none;
    width: fit-content;
    padding: 18px 45px;
    border-radius: 50px;
    background-color: #981D87;
    text-decoration: none;
    color: rgb(215, 212, 212);
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.sustainability-texts>a:hover{
    transform: scale(105%);
    background-color: white;
    color: #981D87;
    border: 1px solid #981D87;
}

.plant-img{
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
}

.plant-img-left{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

@media(max-width:900px){
    

    .plant-container{
        flex-wrap: nowrap;
        gap:20px;
    }

     .plant-img-left>img{
        width: 150px;
        
    }

    .plant-img-left{
        height: 100%;
    }
}

@media(max-width:500px){
   

    .plant-flex-texts{
        width: 100%;
    }

    .plant-container{
        flex-wrap: wrap;
        gap:20px;
    }

     .plant-img-left>img{
        width: 150px;
    }

    .plant-img {
        gap: 1px;
    }

    .plant-img-left{
        gap:4px;
    }
}

.testimonial-container{
    background-color: whitesmoke;
    margin-top: 60px;
    padding: 60px 0px;
    
}

.testimonial-smaller-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    gap: 60px;
}

.testimonial-texts>h6{
    color: #981D87;
    font-weight: 600;
}

.testimonial-texts>h3{
    font-weight: 600;
}

.testimonial-splide{
    width: 90%;
    padding-left: 30px;
}

.testimonial-card{
    box-shadow: .5px 2px 3px  1px grey;
    border: 1px solid silver;
    border-radius: 4px;
}

.acct-phone{
    background-image: url(https://wemabank.com/assets/background-V42PbY_R.png);
     background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 0px;
    position: relative;
}

.app-store-icons{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
}

.toggle-div{
    
    margin: auto;
}

.toggle-icon{
    display: flex;
     align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.toggle-icon>p{
    color: white;
    margin-top: 8px;
}



.app-store-resp{
    display: none;
}

@media(max-width:900px){
    .star-icon2{
        display: none;
    }
}

@media(max-width:500px){
    .app-store-icons{
        display: none;
    }

    .line-acct{
        display: none;
    }

    .acct-right>a{
        display: none;
    }

    .star-icons{
        display: none;
    }

    .app-store-resp{
        /* display: block; */
        display: flex;
        flex-direction: column;
        width: min-content; 
        margin: auto;
        gap: 10px;
    }

    .phone-img{
        margin: auto;
    }

}

.main-acct-phone{
    display: flex;
    /* border: 1px solid yellow; */
    width: fit-content;
    margin: auto;
    gap: 40px;
    align-items: end;
}




.star-icon1{
    position: absolute;
    top: 15%;
    left: 30%;
}
.star-icon2{
    position: absolute;
    top: 70%;
    left: 10%;
}
.star-icon3{
    position: absolute;
    top: 70%;
    right: 10%;
}

.blog-container{
    /* background-color: yellow; */
    margin-top: 60px;
    padding: 60px 0px;
    
}

.blog-smaller-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    
}

.blog-texts>h6{
    color: #981D87;
    font-weight: 600;
}

.blog-texts>h3{
    font-weight: 600;
}

.blog-card{
    transform: none;
}

.blog-grid-1:hover{
    /* width: 80%; */
    /* margin: auto; */
    /* border: 1px solid; */
    transform: none;
}

.blog-1-img{
    width: fit-content;
    
}

.blog-1-img>img{
    height: 100%;
}

.blog-1-texts{
    
}

.blog-grid-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-2-img{
    width: fit-content;
     height: 100%
}

.blog-grid-2 .card:hover{
   transform: none;
}

.article-blog{
    display: flex;
    gap: 20px;
    
}

.article-text>a{
    color: #981D87;
    background-color: #FFF4FF;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 20px;

}

.article-blog>p{
    color: grey;
    font-size: 14px;

}

.duplo-text{
    display: flex;
    flex-direction: column;
}

.duplo-text>h4{
    font-weight: 600;
    font-size: 16px;

}

.duplo-text>p{
    color: grey;
    font-size: 14px;

}

.duplo-text>a{
    border: 1px solid silver;
    width: fit-content;
    padding: 20px 20px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    color: #B53489;
    font-weight: 600;
    transition: all;
    transition-duration: .9s;
}

.duplo-text>a:hover{
    transform: scale(105%);
    padding: 20px 30px;
    background-color: #981D87;
    color: white;
    border: none;
}

.youtube{
    margin-top: 60px;
    box-shadow: .5px .5px 2px .1px;
}

.youtube>iframe{
    width: 100%;
    height: 60dvh;
    /* border: 10px solid; */
    padding: 10px;
}

@media(max-width:900px){
    .youtube>iframe{
        height: 45dvh;
    }
}

.footer{
    background-image: url(https://wemabank.com/assets/background-V42PbY_R.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid #981D87;
}

.newsletter-container{
    width: 80%;
    background-color: white;
    margin:60px auto 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.msg-icon{
    display: flex;
    gap: 20px;
}

.msg-icon>div>h6{
    font-weight: 600;
    font-size: 20px;

}

.msg-icon>div>p{
    font-size: 14px;
}

.footer-form{
    background-color: #F5F5F5;
    padding: 10px 5px 10px 40px;
    border-radius: 50px;
    display: flex;
    justify-content: s;
}

.footer-form>input{
    background-color: transparent;
    border: none;
    
}

.footer-btn{
     /* border: 2px solid; */
    width: fit-content;
    padding: 15px 22px;
    border-radius: 50px;
    background-color: #981D87;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all;
    transition-duration: .5s;
}

.footer-btn:hover{
    transform: scale(105%);
    background-color:white;
    color: #981D87;
    border: 1px solid;
    
}

.footer-texts{
    /* width: 80%; */
    /* border: 1px solid white; */
    margin: 60px auto 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer-left{
    display: flex;
    flex-direction: column;
}

.cbn-div{
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    gap: 30px;
    /* color: white; */
    font-weight: 600;
}

.cbn-div>img{
    filter: brightness(0) invert(1);
    width: fit-content;
}

.footer-sm-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid pink; */
    height: 100%;
    font-size: 14px;
}

.sm-icons{
    filter: invert(1);
    list-style: none;
    /* border: 1px solid; */
    width: fit-content;
}

.sm-icons>img{
    padding-right: 20px;
}

.footer-li{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    row-gap: 30px;
    /* border: 1px solid yellow; */
}

.footer-ul{
    display: flex;
    flex-direction: column;
}

.footer-ul>a{
    color: #cfcacf;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
    text-decoration: none;
}

.bottom-text{
    color: #981D87;
    text-align: center;
    padding: 12px 0px;
    font-size: 14px;
}

.footer-resp{
    display: none;
}

@media(max-width:500px){
    .newsletter-container{
        display: none;

    }

    .sm-icons{
        display: none;
    }

    .footer-sm-div>p{
        display: none;
    }

    .footer-resp{
        display: block;
    }

    .bdr-bottom{
        width: 90%;
        margin: 20px auto;
        border-bottom: 1px solid silver;

    }

    .sm-icons2{
    filter: invert(1);
    list-style: none;
    /* border: 1px solid; */
    width: fit-content;
    margin: auto;
    
    }

    .sm-icons2>img{
        padding: 0px 10px 20px;
    }

    .footer-resp>p{
        text-align: center;
        color: white;
        font-size: 14px;
    }
}

.bi-chat-right-text-fill{
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 30px;
    background-color: #981D87;
    padding: 10px 15px;
    border-radius:50px;
    color: white;
    font-size: larger;
    box-shadow: .5px .5px 3px 1px grey;
}





